*{box-sizing:border-box}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	position: relative;
    justify-content: center;
    align-items: center;
    background: #ecf3f3;
  height: 100vh;
}
span{
	font-family: 'Raleway', sans-serif;
	font-size: 60px;

}
header {
    display: block;
   }
   .header-bg {
    height: 405px;
    text-align: center;
   }
   .header-bg img {
    position: relative;
    top: 0px;
   }
.menu {
    background-color: #0D0D0D;
    padding: 15px;
    list-style-type: none;
    text-align: center;
	position:relative;
	top: -61px;
}

.menu li {
    display: inline-block;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.skr{
	position: relative;
    top: -60px;
	text-align:center;
}
.skr li{
	display: inline-block;

}
a{
	color:white;
	text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 0.25em;
    margin: 0.20px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    transition: .3s ease-in-out;
}
svg {
  display: block;
  height: 40px;
  margin: 50px auto;
}
object{
	height: 40px;
  margin: 50px auto;
}

p{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	color: white;
	font-size:25px;
	overflow: hidden;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.push {
	text-align: center;
}

.push1{
	margin-left: 110px;
	margin-right: 110px;
	margin-bottom: 80px;
}
.after-box {
    clear: left;
    border: 5px solid #0D0D0D;
	position:relative;
    top:-60px;

	animation: change-background 4s linear infinite;
}
@keyframes change-background
    {
      0% {
        background: #8C8C8C;
      }
      50% {
        background: #BFBFBF;
      }
      100% {
        background: #8C8C8C;
      }
    }
.inp {
    list-style-type: none;
    text-align: center;
	position:relative;
    top: -90px;
}
.inp li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}
.inp1 {
    list-style-type: none;
    text-align: center;
	position:relative;
    top: -35px;
}
.inp1 li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.floating-box {
    float: left;
    width: 160px;
    height: 75px;
    margin: 10px;
    border: 5px solid #F288A4;
}
.box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 20px 50px 0;
}
.wrap:hover .box {
  -webkit-transform: scale(2);
  -ms-ransform: scale(2);
  transform: scale(2);
}
.box1 {

  transition: 5s;
}
.box2 {

  transition: 1s;
}
.box3 {

  transition: 2s;
}
.seventen{
   text-align: center;
   font-size: 300%;
   position:relative;
   top: -90px;
}
.seventen1{
   text-align: center;
   font-size: 300%;
   position:relative;
   top: 0px;
}
.sq-btn {
   display: inline-block;
   position: relative;
   min-width: 178px;
   margin: 6px 28px;
   padding: 15px 40px;
   font-weight: 800;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #8C8C8C;
   transition: .15s ease-out;
   box-sizing: border-box;
   text-decoration: none;
}
.btn-one {
   color: #8C8C8C;
}
.sq-btn:last-of-type {
   margin: 6px 28px;
}
.sq-btn:before {
   content: "";
   position: absolute;
   top: -6px;
   left: 0;
   height: calc(100% + 12px);
   width: 100%;
   border: 2px solid #0D0D0D;
   box-sizing: border-box;
   transition: .2s ease-in-out;
}
.btn-one:before {
   border: 2px solid #404040;
}
.sq-btn:after {
   content: "";
   position: absolute;
   top: 0;
   left: -8px;
   height: 100%;
   width: calc(100% + 16px);
   border: 1px solid #404040;
   box-sizing: border-box;
   transition: .2s ease-in-out;
}
.btn-one:after {
   border: 1px solid #8C8C8C;
}
.sq-btn:hover:before {
   top: 0;
   left: -8px;
   height: 100%;
   width: calc(100% + 16px);
}
.sq-btn:hover:after {
   top: -6px;
   left: 0;
   height: calc(100% + 12px);
   width: 100%;
}
.testten li {
width: 100px; /* ширина элементов */
height: 60px; /* высота элементов */
background: #F28D9F; /* устанавливаем цвет заднего фона */
display: inline-block; /* элементы становятся блочно-строчными (выстраиваем в линейку) */
border: 2px solid #F288A4; /* сплошная граница размером 2 пикселя оранжевого цвета */
transition-duration: 1s; /* продолжительность переходного эффекта */
font-size: 20px;
padding-left: 190px;
padding-right: 190px;
}
.testten :hover {
height: 250px; /* высота элементов при наведении */
background: #F2B199; /* устанавливаем цвет заднего фона при наведении */
}
.test {transition-timing-function: ease-out;}
.test2 {transition-timing-function: ease-out;}
.test3 {transition-timing-function: ease-out;}
.test4 {transition-timing-function: ease-out;}
.test5 {transition-timing-function: ease-out;}
.test6 {transition-timing-function: ease-out;}
.test7 {transition-timing-function: ease-out;}
.test8 {transition-timing-function: ease-out;}
.test9 {transition-timing-function: ease-out;}
.center{
	text-align:center;
}
.container {
  width: 660px;
  margin: 50px auto;
}
.der ul {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  position:relative;
  top: -35px;
}
.der li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.liner li:nth-child(1) {background:#F28D9F}
.liner li:nth-child(2) {background:#F288A4}
.liner li:nth-child(3) {background:#F2B199}
.liner li:nth-child(4) {background:#F2A29B}
.liner li:nth-child(5) {background:#F28D9F}
.liner li:nth-child(6) {background:#F288A4}
.liner li:nth-child(7) {background:#F2B199}
.liner li:nth-child(8) {background:#F2A29B}
.liner li:nth-child(9) {background:#F28D9F}
.liner li:nth-child(10) {background:#F288A4}
.liner li:nth-child(11) {background:#F2B199}
.alternate li {
  -webkit-animation: shake .7s linear alternate infinite;
  animation: shake .7s linear alternate infinite;
}
@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateX(-30px);
  }
}
@keyframes shake {
  100% {
    transform: translateX(-30px);
  }
}
.container1  {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
  position:relative;
  top: -90px;
}
.container1 a{
	color:black;
	display:flex;
}

.box45 {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box45 > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box45 > span {
  font-size: 2vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box45:hover { flex: 1 1 50%; }
.box45:hover > img {
  width: 100%;
  height: 100%;
}
.ramka-5 {
    position: relative;
    z-index: 0;
    width: 570px;
    height: 325px;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}
.ramka-5::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#0D0D0D, #0D0D0D), linear-gradient(#404040, #404040), linear-gradient(#8C8C8C, #8C8C8C), linear-gradient(#BFBFBF, #BFBFBF);
    animation: anim-ramka-5 4s linear infinite;
}
.ramka-5::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}
@keyframes anim-ramka-5 {
    100% {
        transform: rotate(1turn);
    }
}
}
.utveckling {
  animation: Utveckling 6.5s infinite;
  stroke-width: 10;
  fill: none;
  stroke: #5f7cfb;
}
.pil {
  animation: Pil 6.5s infinite;
}
.bock {
  animation: Bock 6.5s infinite;
  fill: none;
  stroke-dasharray: 31 82;
  stroke-dasharray: none;
  stroke-dashoffset: -47px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-width: 4;
  stroke: #ffffff;
}

#sidebar {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #404040;
    text-align: center;
    float:inherit;
    border: 1px solid #333;
    padding: 5px;
        margin:10px 25% 20px 25%;
    width: 50%;
}
em{
	margin-right: 5px;
}
